@charset "utf-8";
.header{
    width: 1100px;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 100px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.mainvisual{
    width: 1100px;
    
}

.message{
    width: 800px;
    height: 200px;
    background:rgba(222,222,222,0.7);
    display: grid;
    place-items: center;
}
