@charset "utf-8";

body{
    width: 100wh;
    height: auto;
}

.header{
    display: flex;
    justify-content: center;
}

.navigation{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.mainvisual{
    width: 100wh;
    height: 600px;
    background: url(../image/mainvislal2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.message{
    width: 800px;
    height: 160px;
    background:rgba(255, 255, 255, 0.7);
    display: grid;
    place-items: center;
}

.message>h2{
    font-size: 40px;
    line-height: 45px;
}

.message>h2>span{
    font-size: 32px;
    margin-bottom: 30px;
}

.main_contents{
    width: 1100px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.main_contents>h2{
    font-size: 40px;
    margin: 68px auto;
}

.col{
    width:350px;
    height: 440px;
}

.first{
    background-color: #4B69C1;
}

.second{
    background-color: #DE5B83;
}

.third{
    background-color: #61C163;
}

.three-columns{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    margin-bottom: 75px;
}

.three-columns h3{
    font-size: 24px;
    margin: 20px auto;
}

.three-columns p{
    width: 290px;
    height: 82px;
    margin: auto;
    line-height: 1.5;
}

.customer_voice1{
    
    background-color: #4B69C1;
}

.customer_voice2{
    background-color: #DE5B83;
}
   

.voice1,.voice2{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.voicepart1{
    background-color: #4B69C1;
}

.voice1>img,.voice2>img{
    border-radius: 50%;
    width: 164px;
    aspect-ratio: 1/1;
    margin: 50px auto;    
}

.voice_text1>h3,.voice_text2>h3{
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
}

.voice_text1>p,.voice_text2>p{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.voice_text1,.voice_text2{
    text-align: left;
    width: 560px;
}

.mainvisual2{
    background: url(../image/mainvisula3.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 600px;
    display: grid;
    place-items: center;
}

.four-textboxes{
    width: 800px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-box{
    background-color: #E7E7E7;
    width: 42%;
    height: auto;
    text-align: center;
    border-radius: 5px;
}

.text-box>h3{
    font-size: 28px;
    margin: 20px;
}

.text-box>p{
    font-size: 24px;
    margin: 20px;
}

.firstbox, .secondbox{
    margin-bottom: 30px;
}

.base-info{
    width: 100%;
    height: 600px;
    background-color: red;
}

/* .infomation-block{
    width: 800px;
    height: auto;
    margin: 0 auto;
    background-color: aqua;
}

.company-infomation{
    font-size: 30px;
    padding: 60px 0;
}

.btn{
    font-size: 34px;
    background-color: #DE5B83;
    text-align: center;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 60px;
} */

