@charset "utf-8";

body{

    width: 100wh;
    height: auto;
}

.header{
    display: flex;
    justify-content: center;
}

.navigation{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.mainvisual{
    width: 100wh;
    height: 600px;
    background: url(../image/mainvislal2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.message{
    width: 800px;
    height: 160px;
    background:rgba(255, 255, 255, 0.7);
    display: grid;
    place-items: center;
}

.message>h2{
    font-size: 40px;
    line-height: 45px;
}

.message>h2>span{
    font-size: 32px;
    margin-bottom: 30px;
}

.main_contents{
    width: 1100px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.main_contents>h2{
    font-size: 40px;
    margin: 68px auto;
}

.col{
    width:350px;
    height: 440px;
}

.first{
    background-color: #4B69C1;
}

.second{
    background-color: #DE5B83;
}

.third{
    background-color: #61C163;
}

.three-columns{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    margin-bottom: 75px;
}

.three-columns h3{
    font-size: 24px;
    margin: 20px auto;
}

.three-columns p{
    width: 290px;
    height: 82px;
    margin: auto;
    line-height: 1.5;
}